body{ 
    margin: 0;
    box-sizing: border-box;
}
.container{ /*here we can take only 80% of the page width*/
    width: 80%;
    margin: auto;
}
.clear{
    clear: both;
}
/* ####################################################### */
/* bar sec */
.header{
    position: fixed;
    width: 100%;
    z-index: 100;
    margin-top: -10px;
    background-color: rgba(0,0,0,0.2);
    height: 62px;
}
.header .logo{
    width: 27%;
    float: left;
    padding-top: 15px ;
}
.header .logo img{
    width: 35%; /*it will take 20 percentage of its parent width which is the .logo*/
}
.header .nav{
    width: 65%;
    float: left;
    list-style: none;
    text-align: right;
}
.header .nav > li{
    display: inline-block;
}
.header .nav > li >a{
    text-decoration: none;
    color: white;
    display: block; /*Since the a is inline element by default and it will not accept 
    padding from all direction*/
    padding: 15px; /*that is better from applying padding on li
    since now you can click on the home or services or etc by just
    clicking near to the word and no need to make the pointer on
    the word itself*/
}
.header .nav >li >a.active::after{
    content: "";
    display: block; /*34an l 5at ykon ta7to*/
    width: 100%; /*34an l 5at ya5od width l parent a kolo*/
    height: 3px;
    background-color: #6195ff;
    margin-top: 2px;
    }
.header .nav >li >a::after{
    content: "";
    display: block; /*34an l 5at ykon ta7to*/
    width: 0; /*34an l 5at ya5od width l parent kolo*/
    height: 3px;
    background-color: #6195ff;  
    transition: width 0.7s; /*to make the line arises slowly */
    margin-top: 2px;
}
.header .nav >li >a:hover::after{
    width: 100%;
}
.dropdown{
position: relative;
}
.dropdown-menu{
    position: absolute;
    background: #6195ff;
    width: 100px;
    height: 30px;
    text-align: center;
    left: -70%;
    top: 85%;
    opacity: 0;
    visibility: hidden;
    transition: opacity 3s ;
    border-radius: 5px;
}
.dropdown-menu li{
    list-style: none;
    text-align: left;
    width: 100%;
}
.dropdown-menu a{
    display: block; /*to take the wjhole width of the parent .dropdown-menu*/
    padding-top: 5px;
    color: white;
    text-decoration: none;
}
.dropdown:hover .dropdown-menu{
opacity: 1;
visibility: visible;
}
/* ###################################################### */
/* nd BAR */
.ndbar{
    padding-top: 120px;
}
.ndbar .container{
    width: 75%;
    margin: auto;
}
.ndbar-title{
    width: 20%;
    float: left;
    font-size: 25px;
    color: black;
    font-family: sans-serif;
    font-weight: bolder;
}
.ndbar-path{
    width: 80%;
    float: left;
   text-align: right;
   font-family: sans-serif;
   font-size: 15px;
}
.ndbar-path1 a, .ndbar-path2 a{
    color: #6195ff;
    text-decoration: none;
}
.ndbar-path3{
    font-size: 14px;
    color: gray;
}
.ndbar-path span{
    margin: 0 3px;
}
/* ##################################################### */
.cont{
    margin-top: 140px;
}
.cont-image{
    width: 74%;
    float: left;
}
.cont-image img{
width: 100%;
}
.cont-image-date{
    color: #6195ff;
    font-size: 16px;
    margin-top: 15px;
}
.cont-image-date i{
    margin-right: 18px;
}
.cont-inf{
    width: 23%;
    float: left;
    margin-left: 3%;
}
.cont-inf-sections-name{
    width: 70%;
    float: left;
}
.cont-inf-sections-number{
    width: 30%;
    float: left;
    text-align: right;
}
.cont-inf input[type="text"]{
    border: none;
    background: none;
    background-image: url("../searchicon.png");
    background-size: 40px;
    background-position: 210px -10px;
    background-repeat: no-repeat;
    padding-left: 25px;
    width: 100%;
    height: 30px;
    /* border: 1px solid #9999; */
    border-radius: 3px;
    margin: 5px 0 40px 0;
    font-size: 15px;
    background-color: #f9f9f9;
    color: darkgray;
}
.headings{
    font-size: 20px;
    font-weight: bolder;
    font-family: sans-serif;
    text-transform: uppercase;
    position: relative;
}
.headings::after{
        display: block;
        position: absolute;
        content: "";
        background-color: #6195ff;
        border-radius: 3px;
        height: 5px;
        width: 40px;
        margin-top: 10px;
    }
.cont-inf-sections{
    margin-top: -5px;
    font-size: 14px;
    text-transform: capitalize;
    font-family: monospace;
}
.cont-inf-sections-name{
    color: gray;
}
.cont-inf-sections-name h4:hover {
    color: #6195ff;
}
.cont-inf-sections-number{
    color: #9999;
}
.cont-inf-sections-number h5:hover{
    color: #6195ff;
}
.cont-inf-post{
    margin-top: 30px;
}
.cont-inf-post-img{
    float: left;
    width: 37%;
    margin-right: 3%;
}
.cont-inf-post-img img{
    width: 100%;
}
.cont-inf-post-desc{
    float: left;
    width: 60%;
}
.cont-inf-post-desc .desc{
    font-size: 12px;
    font-family: monospace;
    font-weight: bold;
}
.cont-inf-post-desc .date{
    color: #6195ff;
    font-size: 12px;
}
.cont-image-desc-heading{
    font-size: 20px;
    font-weight: bold;
    font-family: monospace;
    text-transform: capitalize;
}
.cont-image-desc-paragraph{
    color: darkgrey;
    font-size: 17px;
}
.tags{
    margin-top: 30px;
}
.tags span{
    display: inline-block;
    margin: 0 15px 10px;
    font-size: 15px;
    font-family: monospace;
    background-color: #f9f9f9;
    font-weight: bold;
    color: grey;
    text-transform: capitalize;
}
.cont-image-person{
    margin-top: 70px;
}
.cont-image-person-photo{
    width: 20%;
    float: left;
}
.cont-image-person-inf{
    width: 80%;
    float: left;
    position: relative;
}
.cont-image-person-inf-opt{
    margin-top: -15px;
    padding: 0 30px 0px;
}
.cont-image-person-inf .name{
    font-size: 22px;
    font-family: monospace;
    font-weight: bold;
}
.cont-image-person-inf .desc{
    color: grey;
    font-size: 15px;
    line-height: 1.4;
}
.cont-image-person-icons{
    position: absolute;
    right: 10px;
    top: 5px;
}
.cont-image-person-icons a{
    color: white;
    background-color: #6195ff;
    font-size: 22px;
    text-align: center;
    margin-right: 7px;
}
.cont-image-person-icons a i{
    width: 27px;
    height: 27px;
}
.comments{
    margin-top: 40px;
}
.comments .headings{
    font-size: 18px;
    text-transform: capitalize;
    font-family: sans-serif;
}
.comment{
    margin-left: 15px;
    margin-top: 40px;
}
.comment-person-photo{
    float: left;
    width: 10%;
}
.comment-person-photo img{
    width: 100%;
}
.comment-person-inf{
    float: left;
    width: 90%;
    position: relative;
}
.comment-person-inf-opt{
    padding: 0 15px;
}
.comment-person-icon{
    display: inline-block;
}
.comment-person-inf .name{
    font-size: 17px;
    font-family: monospace;
    font-weight: bold;
}
.comment-person-inf .time{
    text-transform: uppercase;
    color: grey;
    font-size: 11px;
    margin-left: 25px;
}
.comment-person-inf .desc{
    color: grey;
    font-size: 15px;
    line-height: 1.4;
}
.comment-person-icon{
    position: absolute;
    top: 10px;
    right: 10px;
    color: #6195ff;
}
.comment-person-icon .reply a{
    text-decoration: none;
    font-size: 14px;
}
.comment-person-icon a{
    color: #6195ff;
}
.contact .headings{
    text-transform: none;
    font-size: 20px;
    font-family: 'Helvetica Neue', sans-serif;
}
.contact{
    margin-top: 20px;
}
.cont-item{
    float: left;
    width: 50%;
    margin-top: 20px;
}
.cont-item input{
    display: block;
    width: 80%;
    margin: auto;
    margin-bottom: 25px;
    height: 30px;
    border: none;
    background: none;
    background-color: #f9f9f9;
    padding-left: 20px;
}
.cont-item input:focus{
    background-color: #9999;
}
.btn{
    background: none;
    border: none;
    background-color: #6195ff;
    color: white;
    font-size: 17px;
    font-weight: bold;
    font-family: monospace;
    width: 100px;
    height: 35px;
    border-radius: 5px;
    margin-left: 55px;
    margin-top: 20px;
}
/* ##################################################### */
/* Footer sec */
.foot{
    background-color: #1c1d21;
    width: 100%;
    height: 300px;
    text-align: center;
    margin-top: 80px;
    }
    .foot-img{
        padding-top: 70px;
        margin-bottom: 10px;
    }
    
    .foot-icons a{
        color: white;
        margin-right: 15px;
    }
    .foot-icons a i{
        background-color: #6195ff;
        width: 50px;
        height: 50px;
        font-size: 20px;
    }
    .foot-icons a i{
        line-height: 50px;
    }
    .foot-copy{
        margin-top: 20px;
        color: #999999;
    }
